{% extends '../base.html' %} {% block title %} house Delete {% endblock title %} {% block content %}
<!-- Delete Info by user -->
<div class="max-w-sm lg:max-w-full lg:flex">
  <div class="h-48 w-48 lg:h-auto lg:w-64 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden" style="background-image: url('{{house.image.url}}'); object-fit: cover;" title=""></div>
  <div class="border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
    <div class="mb-8">
      <p class="text-sm text-gray-600 flex items-center">
        <svg class="fill-current text-gray-500 w-3 h-3 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
          <path d="M4 8V6a6 6 0 1 1 12 0v2h1a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-8c0-1.1.9-2 2-2h1zm5 6.73V17h2v-2.27a2 2 0 1 0-2 0zM7 6v2h6V6a3 3 0 0 0-6 0z" />
        </svg>

        <!-- {% if person.fullname == membership.person %}{{membership.group}} {% endif %} -->
      </p>
      <div class="text-gray-900 font-bold text-xl mb-2 lg:w-64">{{house.title | title}}</div>
      <!-- <p class="text-gray-700 text-base flex flex-wrap">
              <span class="text-pink-800">National Identification Number: {{person.nin}}</span><span class="text-purple-800"> Age: {{person.age}}</span> <span class="text-yellow-900">Email: {{person.email}}</span> <span class="text-pink-500">Boby Size: {{person.size}}</span>
              <span class="text-purple-500">Height: {{person.height}}</span> <span class="text-red-500">Salary: {{person.salary}}</span> <span class="text-blue-500">Tax: ---</span> <span class="text-green-600">IpAddress: {{person.ipadd}}</span>
            </p> -->
    </div>
    <div class="flex flex-col items-center">
      <!-- <img class="w-10 h-10 rounded-full mr-4" src="{{person.profile.url}}" alt="Avatar of {{person.fullname}}" style="object-fit: cover" /> -->
      <div class="text-sm">
        <p class="text-gray-900 leading-none">{{house.location | title}}</p>
        <p class="text-red-500">Are you sure you want to delete this House ?</p>
      </div>
      <form action="" method="post">
        {% csrf_token %}
        <div class="max-w-max  lg:w-auto">
          <i></i>
          <input class="text-white bg-red-500" type="submit" value="Delete" />
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
